header {
    background-color: #c31515;
    padding: 1rem;
    text-align: center;
    margin: 0;
}

#movies-results {
    max-width: 90%;
    margin: auto;
    gap: 1rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#movies-results div {
    width: 20%;
    text-align: center;
}

img {
    object-fit: cover;
    width: 15rem;
}

#movie-details {
    max-width: 80%;
    margin: auto;
}

h2 {
    margin-top: 5rem;
}